*{
    box-sizing: border-box;
}


body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: arial sans-serif;
}

#root{
    width: 100%;
    height: 100vh;
}

.container{
    width: 80%;
    height: auto;
    margin-top: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-container{
    max-width: 700px;
    width: 60%;
    min-width: 320px;
    height: 100px;
    margin: 0 auto;
    height: 379px;
    background: #1B1919;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
span{
    display: block;
}

span:nth-child(1){
    font-size: 50px;
    line-height: 35px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
}

span:nth-child(2){
    font-size: 35px;
    line-height: 20px;
    font-weight: normal;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

span:nth-child(3){
    font-size: 65px;
    line-height: 64px;
}

span:nth-child(4){
    font-size: 35px;
    line-height: 0px;
    word-spacing: 10px;
}
/*
.setings-container{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background: #C4C4C4;
    border-radius: 15px;
    margin-top: 40px;
}*/

.setings-container{
    height: 300px;
    background: #C4C4C4;
    max-width: 900;
    min-width: 250px;
    width: 60%;
    margin: 20px auto 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.top .bottom{
    border: 2px solid blue;
}

.minute-box, .date-box{
    margin-bottom: 35px;
}

.minute-box, .submit-box{
    margin-top: 35px;
}

.setings-container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setings-container .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hours, #minutes, #submit{
    width: 120px;
    height: 40px;
    background: white;
}

#hours, #minutes, #submit, #date{
    margin-left: 20px;
}

#hours, #minutes, #date, #submit{
    background: #99e6ff;
    outline: 0;
    border: 0;
    width: 150px;
    height: 40px;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-size: 20px solid black;
    font-weight: 600;
}

#submit:hover{
    background: white;
    color:  #99e6ff;
}